<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <link rel="stylesheet" href="style.css">
    <title>F1 Predictions</title>
</head>

<body>
    <div class="background"></div>

    <div class="formCard">
        <p id="predictions2">F1 Predictions</p>
        <a href="/predict.html"><button id="predictionsHome">Predictions</button></a>

        <div id="tracksBody">
        <div class="row g-5">
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/bahrain.jpg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Bahrain</h5>
                      <p class="card-text"><% if (bahrainDoc.length > 0) { %>
                        <ul>
                            <% bahrainDoc.forEach(bahrainDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= bahrainDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= bahrainDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= bahrainDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= bahrainDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= bahrainDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= bahrainDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= bahrainDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= bahrainDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= bahrainDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= bahrainDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/jeddah.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Jeddah</h5>
                      <p class="card-text"><% if (jeddahDoc.length > 0) { %>
                        <ul>
                            <% jeddahDoc.forEach(jeddahDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= jeddahDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= jeddahDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= jeddahDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= jeddahDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= jeddahDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= jeddahDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= jeddahDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= jeddahDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= jeddahDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= jeddahDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/australia.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Australia</h5>
                      <p class="card-text"><% if (australiaDoc.length > 0) { %>
                        <ul>
                            <% australiaDoc.forEach(australiaDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= australiaDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= australiaDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= australiaDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= australiaDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= australiaDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= australiaDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= australiaDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= australiaDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= australiaDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= australiaDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/japan.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Japan</h5>
                      <p class="card-text"><% if (japanDoc.length > 0) { %>
                        <ul>
                            <% japanDoc.forEach(japanDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= japanDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= japanDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= japanDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= japanDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= japanDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= japanDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= japanDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= japanDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= japanDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= japanDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/china.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">China</h5>
                      <p class="card-text"><% if (chinaDoc.length > 0) { %>
                        <ul>
                            <% chinaDoc.forEach(chinaDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= chinaDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= chinaDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= chinaDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= chinaDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= chinaDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= chinaDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= chinaDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= chinaDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= chinaDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= chinaDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/miami.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Miami</h5>
                      <p class="card-text"><% if (miamiDoc.length > 0) { %>
                        <ul>
                            <% miamiDoc.forEach(miamiDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= miamiDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= miamiDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= miamiDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= miamiDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= miamiDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= miamiDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= miamiDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= miamiDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= miamiDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= miamiDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/imola.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Imola</h5>
                      <p class="card-text"><% if (imolaDoc.length > 0) { %>
                        <ul>
                            <% imolaDoc.forEach(imolaDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= imolaDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= imolaDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= imolaDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= imolaDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= imolaDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= imolaDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= imolaDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= imolaDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= imolaDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= imolaDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/monaco.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Monaco</h5>
                      <p class="card-text"><% if (monacoDoc.length > 0) { %>
                        <ul>
                            <% monacoDoc.forEach(monacoDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= monacoDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= monacoDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= monacoDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= monacoDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= monacoDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= monacoDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= monacoDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= monacoDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= monacoDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= monacoDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/canada.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Canada</h5>
                      <p class="card-text"><% if (canadaDoc.length > 0) { %>
                        <ul>
                            <% canadaDoc.forEach(canadaDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= canadaDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= canadaDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= canadaDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= canadaDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= canadaDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= canadaDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= canadaDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= canadaDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= canadaDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= canadaDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/spain.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Spain</h5>
                      <p class="card-text"><% if (spainDoc.length > 0) { %>
                        <ul>
                            <% spainDoc.forEach(spainDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= spainDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= spainDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= spainDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= spainDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= spainDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= spainDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= spainDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= spainDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= spainDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= spainDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/austria.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Austria</h5>
                      <p class="card-text"><% if (austriaDoc.length > 0) { %>
                        <ul>
                            <% austriaDoc.forEach(austriaDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= austriaDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= austriaDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= austriaDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= austriaDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= austriaDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= austriaDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= austriaDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= austriaDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= austriaDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= austriaDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/silverstone.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Silverstone</h5>
                      <p class="card-text"><% if (silverstoneDoc.length > 0) { %>
                        <ul>
                            <% silverstoneDoc.forEach(silverstoneDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= silverstoneDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= silverstoneDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= silverstoneDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= silverstoneDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= silverstoneDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= silverstoneDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= silverstoneDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= silverstoneDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= silverstoneDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= silverstoneDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/hungary.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Hungary</h5>
                      <p class="card-text"><% if (hungaryDoc.length > 0) { %>
                        <ul>
                            <% hungaryDoc.forEach(hungaryDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= hungaryDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= hungaryDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= hungaryDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= hungaryDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= hungaryDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= hungaryDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= hungaryDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= hungaryDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= hungaryDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= hungaryDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/belgium.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Belgium</h5>
                      <p class="card-text"><% if (belgiumDoc.length > 0) { %>
                        <ul>
                            <% belgiumDoc.forEach(belgiumDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= belgiumDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= belgiumDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= belgiumDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= belgiumDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= belgiumDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= belgiumDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= belgiumDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= belgiumDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= belgiumDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= belgiumDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/netherlands.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Netherlands</h5>
                      <p class="card-text"><% if (netherlandsDoc.length > 0) { %>
                        <ul>
                            <% netherlandsDoc.forEach(netherlandsDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= netherlandsDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= netherlandsDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= netherlandsDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= netherlandsDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= netherlandsDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= netherlandsDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= netherlandsDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= netherlandsDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= netherlandsDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= netherlandsDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/monza.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Monza</h5>
                      <p class="card-text"><% if (monzaDoc.length > 0) { %>
                        <ul>
                            <% monzaDoc.forEach(monzaDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= monzaDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= monzaDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= monzaDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= monzaDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= monzaDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= monzaDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= monzaDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= monzaDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= monzaDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= monzaDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/azerbaijan.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Azerbaijan</h5>
                      <p class="card-text"><% if (azerbaijanDoc.length > 0) { %>
                        <ul>
                            <% azerbaijanDoc.forEach(jeddahDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= azerbaijanDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= azerbaijanDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= azerbaijanDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= azerbaijanDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= azerbaijanDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= azerbaijanDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= azerbaijanDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= azerbaijanDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= azerbaijanDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= azerbaijanDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/singapore.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Singapore</h5>
                      <p class="card-text"><% if (singaporeDoc.length > 0) { %>
                        <ul>
                            <% singaporeDoc.forEach(singaporeDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= singaporeDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= singaporeDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= singaporeDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= singaporeDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= singaporeDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= singaporeDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= singaporeDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= singaporeDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= singaporeDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= singaporeDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/texas.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Texas</h5>
                      <p class="card-text"><% if (texasDoc.length > 0) { %>
                        <ul>
                            <% texasDoc.forEach(texasDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= texasDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= texasDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= texasDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= texasDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= texasDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= texasDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= texasDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= texasDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= texasDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= texasDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/mexico.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Mexico</h5>
                      <p class="card-text"><% if (mexicoDoc.length > 0) { %>
                        <ul>
                            <% mexicoDoc.forEach(mexicoDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= mexicoDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= mexicoDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= mexicoDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= mexicoDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= mexicoDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= mexicoDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= mexicoDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= mexicoDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= mexicoDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= mexicoDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/brazil.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Brazil</h5>
                      <p class="card-text"><% if (brazilDoc.length > 0) { %>
                        <ul>
                            <% brazilDoc.forEach(brazilDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= brazilDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= brazilDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= brazilDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= brazilDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= brazilDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= brazilDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= brazilDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= brazilDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= brazilDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= brazilDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/lasvegas.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Las Vegas</h5>
                      <p class="card-text"><% if (lasvegasDoc.length > 0) { %>
                        <ul>
                            <% lasvegasDoc.forEach(lasvegasDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= lasvegasDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= lasvegasDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= lasvegasDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= lasvegasDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= lasvegasDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= lasvegasDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= lasvegasDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= lasvegasDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= lasvegasDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= lasvegasDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/qatar.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Qatar</h5>
                      <p class="card-text"><% if (qatarDoc.length > 0) { %>
                        <ul>
                            <% qatarDoc.forEach(qatarDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= qatarDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= qatarDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= qatarDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= qatarDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= qatarDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= qatarDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= qatarDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= qatarDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= qatarDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= qatarDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
            <div class="col-auto">
                <div class="card" id="cardStyle" style="width: 18rem;">
                    <img src="Images/abudhabi.jpg" id="cardImg" class="card-img-top" alt="...">
                    <div class="card-body" id="cardBody">
                      <h5 class="card-title">Abu Dhabi</h5>
                      <p class="card-text"><% if (abudhabiDoc.length > 0) { %>
                        <ul>
                            <% jeddaabudhabiDochDoc.forEach(abudhabiDoc => { %>
                                <li>
                                    <strong>Name:</strong> <%= abudhabiDoc.name %> <br>
                                    <strong>Biggest Surprise:</strong> <%= abudhabiDoc.biggestSurprise %> <br>
                                    <strong>Biggest Flop:</strong> <%= abudhabiDoc.biggestFlop %> <br>
                                    <strong>Sprint Pole:</strong> <%= abudhabiDoc.sprintPole %> <br>
                                    <strong>Sprint Winner:</strong> <%= abudhabiDoc.sprintWinner %> <br>
                                    <strong>Pole Position:</strong> <%= abudhabiDoc.polePosition %> <br>
                                    <strong>First Place:</strong> <%= abudhabiDoc.firstPlace %> <br>
                                    <strong>Second Place:</strong> <%= abudhabiDoc.secondPlace %> <br>
                                    <strong>Third Place:</strong> <%= abudhabiDoc.thirdPlace %> <br>
                                    <strong>Crazy Prediction:</strong> <%= abudhabiDoc.crazyPrediction %> <br>
                                    <hr>
                                </li>
                            <% }) %>
                        </ul>
                    <% } else { %>
                        <p>No documents found.</p>
                    <% } %></p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
 </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="script.js"></script>
</body>

</html>